[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp
[submodule "submodules\\msdfgen"]
	path = submodules\\msdfgen
	url = https://github.com/Chlumsky/msdfgen
